.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
  color: red;
}

.fighter-preview___left {
  align-items: flex-start;
  color: blue;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview___left,
.fighter-preview___right
{
  height: 400px;
  max-width: 400px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  font-weight: normal;
  font-variant: small-caps;
  text-shadow: 2px 2px 6px black;
}

td {
  padding: 4px 8px;
}

td:first-child {
  text-align: right;
}